COMPOSE_PROJECT_NAME=catfeeder

MQTT_DEVICE_ID=catfeeder
MQTT_DEVICE_USER=catfeeder
MQTT_DEVICE_PASS=catfeeder-device-change-me
MQTT_BACKEND_USER=backend
MQTT_BACKEND_PASS=catfeeder-backend-change-me

POSTGRES_DB=catfeeder
POSTGRES_USER=catfeeder
POSTGRES_PASSWORD=catfeeder-db-change-me

BACKEND_PORT=3000
FRONTEND_PORT=8080

PUBLIC_HOST=catfeeder.mydomain.de
TRAEFIK_CERTRESOLVER=http
